@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
}

@keyframes bounceIcon svg {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }

  70% {
    transform: translateY(-3px);
  }

  90% {
    transform: translateY(-2px);
  }
}
